
@font-face{
  font-family: 'Droid Serif';
  src: url('./assets/fonts/DroidSerif.ttf');
}


@font-face{
  font-family: 'Ubuntu Mono';
  src: url('./assets/fonts/UbuntuMono.ttf');
}

/*
@font-face{
font-family: 'Yanone Kaffeesatz';
src: url('./assets/fonts/YanoneKaffeesatz.otf');
}
 */

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Droid Serif';
  font-weight: 400;
  margin-bottom: 0;
}



/* .background { */
/*   background-color: #fffefa; */
/* } */

.white-text {color: gray}


.white-bg{
  background-color: #ffffff !important;
}

.remark-slide-content {
  font-size: 1.4em; 
  background-color: #fffefa;
}

/* .remark-slide-content p{ */
  /* color: #555555 */
/* } */

.remark-slide-content h1{
  font-size: 40px;
  text-align: center;
}

.remark-slide-content h2{
  font-size: 30px;
  /* font-style: italic; */
}

.remark-slide-content h3{
  font-size: 28px;
}

.remark-slide-content h3{
  font-size: 24px;
}

.first-page {
  /* background-color: black !important; */
}



.footnote {
  position: absolute;
  bottom: 3em;
}

ul { margin-bottom: 0.5em; }

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  background: #e7e8e2;
  border-radius: 5px;
}


.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }

#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}


img {
  width: 90%;
}

.bullets {
    display: inline-block;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}


img[alt=front] { width: 50%; }
img[alt=logo] { width: 80%; }
img[alt=hedgehog] { width: 30%; }
img[alt=sic_inhomogeneous_front] { width: 100%; }
img[alt=sic_inhomogeneous] { width: 70%; }
img[alt=sic_sharpness] { width: 70%; }
img[alt=small_crystal_full] { width: 100%; }
img[alt=small_fine_mdc_sharpness] { width: 70%; }
img[alt=small_fine_mdc_sharpness_2] { width: 70%; }
img[alt=tac_binding_energy] { width: 90%; }
img[alt=sample_holder] { width: 60%; }
img[alt=four_samples_photo] { width: 30%; }
img[alt=multi_sample_1] { width: 80%; }
img[alt=multi_sample_2] { width: 80%; }
img[alt=arpes_inhomogeneous_combined] { width: 100%; }
img[alt=arpes_peaks_sic] { width: 80%; }
img[alt=arpes_peaks_graphene] { width: 80%; }
img[alt=leed_image] { width: 80%; }
img[alt=sic-tac] { width: 80%; }
img[alt=leedschematic] { width: 70%; }
img[alt=arpes_analyzer] { width: 70%; }
img[alt=bloch_station] { width: 80%; }
img[alt=software_running] { width: 100%; }
.cols {
  display: flex;
}

.flex-half {
  flex: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.flex-right {
  flex: 28%;
}

.flex-left {
  flex: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
